@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
body {
    background: url(https://images.pexels.com/photos/65886/half-moon-sky-blue-clouds-65886.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.formulaire {
    float: left;
}

label {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(250, 10, 250);
    text-align: center;
}

form {
    border: solid 3px navy;
    background-color: #43eaaf;
    padding: 20px;
    margin: 10px 20px;
    width: 95%;
    max-width: 400px;
    border-radius: 15px;
}

input {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}

#execute {
    background-color: coral;
    font-size: 1.5em;
    color: navy;
}

#execute:hover {
    background-color: tomato;
    color: white;
}

#visit {
    color: darkblue;
    font-weight: bolder;
    background-color: antiquewhite;
    display: inline-block;
}

.finition {
    width: 450px;
    height: 250px;
    background: linear-gradient(45deg, rgb(28, 126, 212), #43eaaf);
    float: right;
    border: solid 2px navy;
    border-radius: 15px;
    display: none;
}

.cartefini {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 70%;
    flex: 1 1 0px;
}

.case {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 0px;
}

.case1 {
    display: flex;
    justify-content: flex-start;
}

.item,
.entreprise {
    color: rgb(8, 6, 126);
    width: 200px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
}

.contact {
    font-size: medium;
}

.image {
    width: 80px;
    height: 80px;
    margin-left: 80px;
}

.image img {
    width: 100%;
    height: 100%;
}

.entreprise {
    width: 90%;
    margin: 15px auto 5px auto;
    background-color: white;
}